@import "tailwindcss";
/* @tailwindcss/preflight; */
@tailwind utilities;

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hard-reset p, 
.hard-reset h2, 
.hard-reset h3, 
.hard-reset h4 {
  all: revert
}

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #252525;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #323232;
    border-radius: 10px;
  }

  /* Firefox support */
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #d4d6d8 #545454;
  }
}


a {
  text-decoration: none;  
  color: inherit;          
  outline: none;           
}

a:visited {
  color: inherit;          
}

a:hover {
  color: inherit;  
  text-decoration: none;   
}

a:active {
  color: inherit;          
}

.dark-inset-shadow {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.05);
}

.dark-shadow {
  box-shadow: 0 2px 10px rgba(170, 170, 170, 0.612);
}

.dark-soft-shadow {
  box-shadow: 0 4px 25px rgba(255, 255, 255, 0.08); 
}


.bg-dark-blur {
  background: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(12px);
}
